*:focus { outline: none; }

html {
	overflow-y:auto;
	overflow-x:hidden;
}
body {
	margin:auto;
	width:100%;
	font-family:OfficinaSerif,Trebuchet MS,Tahoma,Calibri,Arial,sans-serif;
	border:solid 1px rgba(0,0,0,0);	
	background-repeat: repeat;
	background-attachment:fixed;
	background-position: 100% 100%; 
}

#wrapper {
	position:absolute;
	top:-10px;
	right:35px;
	width:100%;
	min-height:120%;
/*	max-width:1200px;*/
	font-size:14px;
	border-right:1px solid #eee;
	box-shadow:6px 0px 10px rgba(0,0,0,0.20);
	background:#eaeaee;
}

#wrapper.busy {
	box-shadow:6px 0px 10px rgba(0,200,200,0.20);
}



.chapter-head {
	font-family:微软雅黑,新宋体,宋体,arial;
	text-align:center;
	font-size:16px;
	margin-top:30px;
	padding-top:20px;
	margin-bottom:50px;
	padding-bottom:20px;
	color:black;
	text-shadow:1px 1px white;
	border-top:1px solid #ddd;
	border-bottom:1px solid #ddd;
	background:#f0f0f0;
}

.content {
	font-family:微软雅黑,新宋体,宋体,arial;
	line-height:1.5;
	width:90%;
	max-width:960px;
	margin-left:auto;
	margin-right:auto;
	margin-bottom:40px;
	background:#eaeaee;
}

#notify {
	position:fixed;
	top:-1px;
	left:-2%;
	width:105%;
	background:rgba(0,0,0,0.5);
	color:white;
	text-align:center;
	box-shadow:0px 5px 5px rgba(0,0,0,0.20);
	font-size:12px;
	padding:4px;
	display:none;
}

#speednotify {
	display:none;
	font-size:11px;
	position:fixed;
	bottom:5px;
	left:10px;
	width:30px;
	background:rgba(0,0,0,0.2);
	text-align:center;
	color:white;
	box-shadow:6px 0px 10px rgba(0,0,0,0.20);
	font-style:italic;
	border-radius:0px;
	opacity:0.5;
}


